
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

.top-mother{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.top-page{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 10px;
    
    
}
.top-page-text{
    width: 50%;
    color: aliceblue;
    padding: 50px 10px 40px 50px;
}
.top-page-text h1{
    font-size: 50px;
}

.top-page-img{
    width: 50%;
    justify-content: center;
   
}
.top-page img{
    width: 100%;
  
    padding-right: 20px;
    height: 500px;
    padding-bottom: 0;
    -webkit-transition: padding 2s;
   
}
.top-page img:hover {
    padding: 10px;
    border-radius: 15px;
 
   /* HOVER ON */
    -webkit-transition: border-radius 3s;
 }
.top-page-link{
    background-color: crimson;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    -webkit-transition: padding 2s;
    color: white;
}
.top-page-link:hover:hover {
        padding: 10px;
        border-radius: 15px;
     
       /* HOVER ON */
        -webkit-transition: border-radius 3s;
     }
     /* midle page is strat for css */
     .moddle-full{
        display: flex;
        justify-content: start;
    margin-top: 40px;
    margin-bottom: 50px;
     }
     .middle-page{
        width: 200px;
        height: 220px;
        background-color: rgb(0, 0, 0);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        
     }
     .middle-page a{
        text-decoration: none;
      border-radius: 10px;
        padding: 10px 10px;
        background-color: rgb(255, 255, 255);
        margin: 10px;
       
     }
     .middle-pages{
        display: flex;
        width: 80%;
    }
.section-page{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
}
.football{
    /* background-color: rgb(107, 23, 23); */
    margin: 15px;
    border-radius: 10px;
    border: 0.1px solid gray;
    height: 300px;
    width: 90%;

}
.football img{
 width: 100%;
 height: 45%;
}
.transfer a{
    border: 1px solid black;
  margin-left: 20px;
  margin-top: 20px;
    padding: 0px 10px;
    text-decoration: none;
    border-radius: 5px;
    
}
.footbll-text{
padding: 10px 10px;


}
.icon{
    display: flex;
    gap: 50px;
    padding: 20px;
    margin-bottom: 10px;
}
.for-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
footer{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    background-color: rgb(7, 7, 7);padding-top: 60px;
    padding-bottom: 60px;

}
.view{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
    padding: 15px 26px;
    visibility: hidden;
}
.view a{
    background-color: red;
    padding: 10px 30px;
    border-radius: 8px;
}
.footer{
    width: 80%;
   
}

.goal{
    text-align: center;
    color: white;

}
.about-us {
    display: flex;
    justify-content: space-around;
}
.about-us a{
    color: white;
    text-decoration: none;
   
}
.hr-line{
   color: gray;
}


/* match html */
/* match html */
/* match html */
/* match html */
/* match html */
/* match html */
.middle-full1{


    
}
.middle-page1 {
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
  

}
.middle-page1 a{
 padding: 10px 5px;
 background-color: rgb(255, 255, 255);
 margin: 10px;
 border-radius: 10px;
 text-align: center;
 text-decoration: none;

}
.section-item{
    margin: auto;
    width: 60%;
   
    padding: 10px;
   

}
.top-mother1{
    display: flex;
    flex-direction: raw;
    justify-content: center;
    align-items: flex-start;
}
.flag{
    display: flex;
    margin: 10px;
    gap: 1px;
}
.flag-text{
  text-align: center;
  border: 1px solid rgb(81, 66, 66);
  width: 220px;
  margin: 20px;
  border-radius: 10px;
  padding: 20px 30px;
 
 

}
.flag-text img{
    width: 40%;
}

.match-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px;
}

/* this is project for bnouse mark? */
.match-grid2{
    text-align: center;
    border: 2px dotted;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
.match-grid2 img{
    width: 100%;
    
    
}
.grid-line{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Mobile responsive  */
/* Mobile responsive  */
/* Mobile responsive  */
/* Mobile responsive  */
/* Mobile responsive  */
/* Mobile responsive  */
@media only screen and (max-width: 600px) {
  
    .top-page{
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        border-radius: 10px;
        
        
    }
    .top-page-text h1{
        font-size: 30px;
    }
    .top-page-text{
        width: 100%;
        color: aliceblue;
        padding: 10px 10px 40px 10px;
        text-align: center;
        
    }
    .top-page img{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-left: 50px;
       
    }
    .top-page-img{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    /* midel page */
    moddle-full{
        display: flex;
        justify-content: start;
    margin-top: 40px;
    margin-bottom: 50px;
     }
     .middle-page{
        width: 200px;
        height: 220px;
        border-radius: 5px;
       align-items: center;
        justify-content: center;
        padding: 0px;
        background-color: rgb(255, 255, 255);
        
     }
     .middle-page a{
        text-decoration: none;
      border-radius: 10px;
      padding-left: 20px;
      padding-right: 20px;
        background-color: rgb(255, 255, 255);
        margin: 010px;
        border: 1px solid gray;
       
     }
   
.middle-pages{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
.section-page{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
}
.top-mother1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
}
.for-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-right: 25px;
}
/* match html */

.middle-page1 {
    width: 220px;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
  

}
.middle-page1 a{
 padding: 10px 5px;
 background-color: rgb(255, 255, 255);
 margin: 10px;
 border-radius: 10px;
 text-align: center;
 text-decoration: none;

}
.section-item{
    margin: auto;
    width: 60%;
   
    padding: 10px;
   

}
.top-mother1{
    display: flex;
    flex-direction: raw;
    justify-content: center;
    align-items: flex-start;
    
    
   

}
.flag{
    display: flex;
    margin: 10px;
    gap: 1px;
}
.flag-text{
  text-align: center;
  border: 1px solid rgb(81, 66, 66);
  width: 220px;
  margin: 20px;
  border-radius: 10px;
  padding: 20px 30px;
 
 

}
.flag-text img{
    width: 40%;
}

.match-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 10px;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 7, 7);padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;

}
.footer{
    width: 80%;
   
}

.goal{
    text-align: center;
    color: white;

}
.about-us {
    display: flex;
    justify-content: space-around;
}
.about-us a{
    color: white;
    text-decoration: none;
   
}
.hr-line{
   color: gray;
}
  }
  /* this is for tablet media scren */
  /* this is for tablet media scren */
  /* this is for tablet media scren */
  /* this is for tablet media scren */
  /* this is for tablet media scren */


  @media only screen and (min-width:600px) and (max-width:1080px){

    
    .top-mother{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .top-page{
        background-color: rgb(56, 17, 17);
        display: flex;
        justify-content: center;
        width: 80%;
        border-radius: 10px;
        
        
    }
    .top-page-text{
        width: 50%;
        color: aliceblue;
        padding: 50px 10px 40px 50px;
    }
    .top-page-text h1{
        font-size: 50px;
    }
    
    .top-page-img{
        width: 50%;
        justify-content: center;
       
    }
    .top-page img{
        width: 100%;
      
        padding-right: 20px;
        height: 500px;
        padding-bottom: 0;
        -webkit-transition: padding 2s;
       
    }
    .top-page img:hover {
        padding: 10px;
        border-radius: 15px;
     
       /* HOVER ON */
        -webkit-transition: border-radius 3s;
     }
    .top-page-link{
        background-color: crimson;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        -webkit-transition: padding 2s;
        color: white;
    }
    .top-page-link:hover:hover {
            padding: 10px;
            border-radius: 15px;
         
           /* HOVER ON */
            -webkit-transition: border-radius 3s;
         }
    /* midel page */
    .moddle-full{
       text-align: center;
       align-items: center;
       width: 100%;
       
     }
     .middle-page1{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 750px;
        height: 50px;
        background-color: #ffffff;
        gap: 205px;
     }
    .top-mother1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
     .middle-page{
            display: flex;
            flex-direction: row;
      width: 100%;
      height: 80px;
      gap: 100px;
      background-color: rgb(255, 255, 255);
      margin-top: -80px;
      margin-bottom: -20px;
     }


   
   
     .middle-page a{

        text-decoration: none;
      border-radius: 10px;
    
      
        background-color: rgb(255, 255, 255);
      gap: 50px;
        border: 1px solid gray;
       
     }
   
.middle-pages{
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
.section-page{
   
}
.for-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: -40px;
    margin-left: -50px;
    margin-right: -50px;
   
}
.match-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.view{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
    padding: 15px 26px;
    visibility: visible;
}
.view a{
    background-color: red;
    padding: 10px 30px;
    border-radius: 8px;
}
}

footer{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;

}
.footer{
    width: 80%;
   
}
.social{
    background-color: black;
    text-align: center;
    gap: 25px;
    padding: 25px 35px;
    font-size: 35px;
}
.social a{
    padding: 10px 25px;
}

.goal{
    text-align: center;
    color: white;

}
.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.about-us a{
    color: white;
    text-decoration: none;
   
}
.hr-line{
   color: gray;
}
.container{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    
}

